[data-lucide] {
    vertical-align: middle;
    transition: transform 0.3s ease;
}

.tooltip {
    white-space: nowrap;
    z-index: 50;
}

#debugbar.collapsed {
    height: 0;
    overflow: hidden;
    padding: 0;
}
